
.profilePelicula{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fichapelicula{
    height: 10em;
    width: 10em;
    background-color: white;
    border: 1em solid black;
}