body {
    background-color: rgb(252, 252, 74);
}

.loader {
    margin-top: 15em;
    height: 10em;
    width: 10em;
}

.displayPeliculas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 20em 1em 20em;
    background-color: transparent(255, 255, 42);
}

.peli {
    border-radius : 2em;
    background-color: rgb(34, 34, 255);
    border: 0.1em solid black;
    margin: 0.1em;
    margin-top: 3em;
    width: 20em;
}

.cartel {
    height: 15em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: 0.1em solid black;
    border-radius : 1em;
    cursor: pointer;
}

.designTitlemovie {
    font-size: 2em;
    margin-bottom: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.designValue {
    font-size: 2em;
    margin-bottom: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buscador{
    margin-top: 2em;
    height: 2em;
    width: 15em;
    border: solid black;
    text-align: center;
}

input.buscarpeli {
    height: 3em;
    margin: auto;
    width: 40em;
    color: black;
    text-align: center;
    display: flex;
    font-size: 1.2em;
}

.container-buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}